{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <!--icheck-->
    <link href="{{ url_for('static', filename='js/iCheck/skins/minimal/minimal.css') }}" rel="stylesheet">
<script>
    function selectproject() {
    var projectname = $("#projectname").val();
    var data = {
        "project_id": projectname,
    }
    $.ajax({
        type: 'POST',
        url: "{{url_for('.selecttestcaseproject')}}",
        data: JSON.stringify(data),
        contentType: 'application/json; charset=UTF-8',
        dataType: "json",
        success: function (data) {
            console.log(data)
            var modulename = document.getElementById("modulename");
            modulename.options.length = 0;
            if (Object.keys(data["modulelist"]).length < 1) {
                modulename.add(new Option("请选择测试用例模块", 0));
            } else {
                modulename.add(new Option("请选择测试用例模块", 0));
                for (var key in data["modulelist"]) {
                    modulename.add(new Option(data["modulelist"][key], key));
                }
            }
        },
        error: function (xhr, type) {
        }
    });
}
</script>
{% endblock %}
{% block title %}编辑测试用例子模块{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block testcasemanage %}
    <li class="menu-list nav-active"><a href=""><span>功能测试用例管理</span></a>
{% endblock %}
{% block testcasesubmodule %}
    <li class="active"><a href="{{ url_for('.testcasesubmodulelist') }}">测试用例子模块</a></li>
{% endblock %}
{% block bread %}
    <h3>编辑测试用例子模块</h3>
    <ul class="breadcrumb">
        <li>功能测试用例管理</li>
        <li class="active">编辑测试用例子模块</li>
    </ul>
{% endblock %}
{% block wrapper %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">编辑测试用例子模块</header>
            <div class="panel-body">
                {% for msg in get_flashed_messages() %}
            <div class="alert alert-info" style="text-align: center">{{ msg }}</div>
            {% endfor %}
                <form id="signupForm" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ form.projectname.label(class="col-sm-2 control-label col-lg-2") }}
                        <div class="col-lg-4">
                            {{ form.projectname() }}
                            {% for err in form.errors.projectname %}
                            <label class="error">{{ err }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.modulename.label(class="col-sm-2 control-label col-lg-2") }}
                        <div class="col-lg-4">
                            {{ form.modulename() }}
                            {% for err in form.errors.modulename %}
                            <label class="error">{{ err }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.submodulename.label(class="col-sm-2 control-label col-lg-2") }}
                        <div class="col-lg-4">
                            {{ form.submodulename() }}
                            {% for err in form.errors.submodulename %}
                            <label class="error">{{ err }}</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.note.label(class="col-sm-2 control-label col-lg-2") }}
                        <div class="col-lg-8">
                            {{ form.note() }}
                            {% for err in form.errors.note %}
                            <label class="error">{{ err }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-5 col-lg-10">
                            <button class="btn btn-primary" type="submit" formnovalidate>提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block endjs %}
    {{ super() }}
    <!--icheck -->
    <script src="{{ url_for('static', filename='js/iCheck/jquery.icheck.js') }}"></script>
    <script src="{{ url_for('static', filename='js/icheck-init.js') }}"></script>
{% endblock %}