{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <!--dynamic table-->
    <link href="{{ url_for('static', filename='js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='js/data-tables/DT_bootstrap.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}角色列表{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block usermanage %}
    <li class="menu-list nav-active"><a href=""><span>用户管理</span></a>
{% endblock %}
{% block rolelist %}
    <li class="active"><a href="{{ url_for('.rolelist') }}">角色列表</a></li>
{% endblock %}
{% block bread %}
    <h3>角色列表</h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">用户管理</a>
        </li>
        <li class="active">角色列表</li>
    </ul>
{% endblock %}
{% block wrapper %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">角色列表</header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>角色名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for role in roledata%}
                        <tr class="gradeA">
                            <td>{{ role.id }}</td>
                            <td>{{ role.rolename }}</td>
                            <td class="center"><a href="{{ url_for('.editrole',id=role.id) }}">编辑</a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block endjs %}
    {{ super() }}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/DT_bootstrap.js') }}"></script>
    <!--dynamic table initialization -->
    <script src="{{ url_for('static', filename='js/dynamic_table_init.js') }}"></script>
{% endblock %}