{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <!--dynamic table-->
    <link href="{{ url_for('static', filename='js/advanced-datatable/css/demo_page.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='js/advanced-datatable/css/demo_table.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='js/data-tables/DT_bootstrap.css') }}" rel="stylesheet" />
<script>
        function edituserstatus(v, t, id) {
            if (confirm('您确定要把ID：' + id + '用户状态改为' + t + ' 吗？')) {
                var data = {
                    "id":id,
                    "status":v
                }
                $.ajax({
                    type:'POST',
                    url:"{{url_for('.edituserstatus')}}",
                    data:JSON.stringify(data),
                    contentType:'application/json; charset=UTF-8',
                    dataType:"json",
                    success: function (data) {
                        console.log(data)
                        location.reload();
                    },
                    error: function (xhr, type) {
                    }
                });
            }
        }
    </script>
{% endblock %}
{% block title %}用户列表{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block sidebar %}
    {{ super() }}
{% endblock %}
{% block usermanage %}
    <li class="menu-list nav-active"><a href=""><span>用户管理</span></a>
{% endblock %}
{% block userlist %}
    <li class="active"><a href="{{ url_for('.userlist') }}">用户列表</a></li>
{% endblock %}
{% block bread %}
    <h3>用户列表</h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">用户管理</a>
        </li>
        <li class="active">用户列表</li>
    </ul>
{% endblock %}
{% block wrapper %}
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">用户列表</header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>手机号</th>
                            <th>角色权限</th>
                            <th>生效状态</th>
                            <th>最后登录</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user_info in users_info%}
                        <tr class="gradeA">
                            <td class="userid">{{ user_info.id }}</td>
                            <td>{{ user_info.username }}</td>
                            <td>{{ user_info.email }}</td>
                            <td>{% if user_info.telephone %}{{ user_info.telephone }}{% endif %}</td>
                            <td>{% if user_info.role_id %}{{ getrole(user_info.role_id) }}{% endif %}</td>
                            <td class="center">
                                <select class="form-control  m-bot15" onchange="edituserstatus($(this).val(), $(this).find('option:selected').text(),{{ user_info.id }})">
                                    <option value="0" {% if user_info.status == 0 %} selected {% endif %}>无效</option>
                                    <option value="1" {% if user_info.status == 1 %} selected {% endif %}>正常</option>
                                </select>
                            </td>
                            <td>{% if user_info.lastlogin %}{{ user_info.lastlogin }}{% endif %}</td>
                            <td class="center"><a href="{{url_for('.userdetail', id=user_info.id)}}">查看</a> <a href="{{url_for('.useredit', id=user_info.id)}}">编辑</a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block endjs %}
    {{ super() }}
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/advanced-datatable/js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data-tables/DT_bootstrap.js') }}"></script>
    <!--dynamic table initialization -->
    <script src="{{ url_for('static', filename='js/dynamic_table_init.js') }}"></script>
{% endblock %}